.gray_background1 {
    width: 100%;
    background-color: $color1;
    animation-name: gray_background1;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
.gray_background2 {
    background-color: $color1;
    animation-name: gray_background2;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
.gray_background3 {
    background-color: $color1;
    animation-name: gray_background3;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
.gray_background4 {
    background-color: $color1;
    animation-name: gray_background4;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
.gray_background5 {
    background-color: $color1;
    animation-name: gray_background5;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes gray_background1 {
    0% {
        width: 0%;
        padding: 0;
    }
    15% {
        width: 100%;
        padding: 0;
    }
    23% {
        width: 0%;
        padding: 0;
    }
    100% {
        width: 0%;
        padding: 0;
    }
  
}
@keyframes gray_background2 {
    0% {
        width: 0%;
        padding: 0;
    }
    20% {
        width: 0%;
        padding: 0;
    }
    35% {
        width: 100%;
        padding: 0;
    }
    43% {
        width: 0%;
        padding: 0;
    }
    100% {
        width: 0%;
        padding: 0;
    }
  
}
@keyframes gray_background3 {
    0% {
        width: 0%;
        padding: 0;
    }
    40% {
        width: 0%;
        padding: 0;
    }
    55% {
        width: 100%;
        padding: 0;
    }
    63% {
        width: 0%;
        padding: 0;
    }
    100% {
        width: 0%;
        padding: 0;
    }
  
}
@keyframes gray_background4 {
    0% {
        width: 0%;
        padding: 0;
    }
    60% {
        width: 0%;
        padding: 0;
    }
    75% {
        width: 100%;
        padding: 0;
    }
    83% {
        width: 0%;
        padding: 0;
    }
    100% {
        width: 0%;
        padding: 0;
    }
  
}
@keyframes gray_background5 {
    0% {
        width: 0%;
        padding: 0;
    }
    80% {
        width: 0%;
        padding: 0;
    }
    95% {
        width: 100%;
        padding: 0;
    }
    100% {
        width: 0%;
        padding: 0;
    }
  
}
.hero_image2 {
    background: url("./img/game.tina3.jpg") no-repeat;
    background-size: cover;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    border: 5px solid $color2;
    border-radius: $sizeL;
    // visibility: hidden;
    position: relative;
    animation-name: hero_games2;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
.hero_text2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: $color4;
    .text1{
        width: 75%;
        height: 65%;
        text-align: center;
    }
    .text2{
        width: 85%;
        height: 15%;
    }
    .text3{
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    .text3_1 {
        background-color: $color4;
        color: $color5;
        padding: 20px;
        border-radius: $sizeS;
        margin-bottom: 10px;
    }
    .text3_2 {
        margin: 0 0 10px 10px;
    }
}
.hero_image3 {
    background: url("./img/game.valorant1.jpg") no-repeat;
    background-size: cover;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    border: 5px solid $color2;
    border-radius: $sizeL;
    // visibility: hidden;
    position: relative;
    animation-name: hero_games3;
     animation-duration: 25s;
     animation-iteration-count: infinite;
}
.hero_text3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: $color4;
    .text1{
        width: 75%;
        height: 50%;
        text-align: center;
    }
    .text2{
        width: 85%;
        height: 10%;
    }
    .text3{
        width: 60%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    .text3_1 {
        background-color: $color4;
        color: $color5;
        padding: 20px;
        border-radius: $sizeS;
        margin-bottom: 10px;
    }
    .text3_2 {
        margin: 0 0 10px 10px;
    }
}
.hero_image4 {
    background: url("./img/game.naraka3.jpg")  center no-repeat;
    background-size: cover;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    border: 5px solid $color2;
    border-radius: $sizeL;
    // visibility: hidden;
    position: relative;
    animation-name: hero_games4;
     animation-duration: 25s;
     animation-iteration-count: infinite;
}
.hero_text4 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: $color4;
    .text1{
        width: 75%;
        height: 65%;
        text-align: center;
    }
    .text2{
        width: 85%;
        height: 18%;
    }
    .text3{
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    .text3_1 {
        background-color: $color4;
        color: $color5;
        padding: 20px;
        border-radius: $sizeS;
        margin-bottom: 10px;
    }
    .text3_2 {
        margin: 0 0 10px 10px;
    }
}
.hero_image5 {
    background: url("./img/game.vampire3.jpg") right no-repeat;
    background-size: cover;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    border: 5px solid $color2;
    border-radius: $sizeL;
    // visibility: hidden;
    position: relative;
    animation-name: hero_games5;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
.hero_text5 {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: $color4;
    .text1{
        width: 75%;
        height: 60%;
        text-align: center;
    }
    .text2{
        width: 85%;
        height: 20%;
    }
    .text3{
        width: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    .text3_1 {
        background-color: $color4;
        color: $color5;
        padding: 20px;
        border-radius: $sizeS;
        margin-bottom: 10px;
    }
    .text3_2 {
        margin: 0 0 10px 10px;
    }
}
@keyframes hero_games {
    0% {
      z-index: 7;
    }
    20% {
        z-index: 7;
    }
    21% {
        z-index: 6;
    }
    100% {
        z-index: 3;
    }
  
}
@keyframes hero_games2 {
    0% {
    }
    21% {
      z-index: 6;
    }
    40% {
        z-index: 6;
    }
    41% {
        z-index: 5;
    }
    100% {
        
      }
  
}
@keyframes hero_games3 {
    0% {
    }
    41% {
      z-index: 5;
    }
    60% {
        z-index: 5;
    }
    61% {
        z-index: 4;
    }
    100% {
      }
  
}
@keyframes hero_games4 {
    0% {
      
    }
    61% {
      
      z-index: 4;
    }
    80% {
      
      z-index: 4;
    }
    81% {
        z-index: 3;
      
    }
    100% {
        
      }
  
}
@keyframes hero_games5 {
    0% {
      
    }
    81% {
      z-index: 3;
    }
    99% {
        z-index: 3;
    }
    100% {
        z-index: 2;
    }
  
}
@media screen and (min-width: 1700px) {
    .hero_image {
        background: url("./img/game.starwars1.jpg") no-repeat !important;
        background-size: 100% 1100px !important;
    }}
@media screen and (min-width: 2000px) {
    .hero_image {
        background: url("./img/game.starwars5.jpg") no-repeat !important;
        background-size: 100% 720px !important;
    .text1 {
        visibility: hidden;
    }
    .text2 {
        height: 0% !important;
        width: 69% !important;
    }
    .text3 {
        height: 30% !important;
        width: 50% !important;
    }
    }
    .hero_image2 {
        background-size: 100% 726px !important;
    }
    .hero_image3 {
        background-size: 100% 720px !important;
    }
    .hero_image4 {
        background-size: 100% 720px !important;
    }
    .hero_image5 {
        background-size: 100% 720px !important;
    }
    
}
