$color1: #2A2A2A;
$color2: #121212;
$color3: gray;
$color4: white;
$color5: black ; 
$color6: #0074E4;
$color7: #3a3a3a;
$main_light: linear-gradient( #C4D3DF, #85b8e2);
$main_dark: linear-gradient( #666699, #000066);
$secondaty_light: linear-gradient( #00ffff, #000066);
$secondary_dark: linear-gradient( #000066, #003366);