

body {
    background-color: $color2;        
    .header1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: $color1;
        width: 100%;
        letter-spacing: 1px;
         .nav1 {
            margin-left: -40px;
            ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            li {
                margin: 15px $sizeM;
                color: $color4;
            }
            }
        }
        .nav2 {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            li {
                margin: 15px $sizeM;
                color: $color4;
            }
            }
        }
    }
        .header2 {
            width: 100%;
            display: grid;
            grid-template-columns: 10% 80% 10%;
            grid-template-rows: repeat(1, 1fr);
            background-color: $color2;
            letter-spacing: 1px;
            position: sticky ;
            top: 0 ;
            z-index: 1;
            .nav3 {
            display: grid;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 1;
            height: 80px;
            align-items: center;
            ul{
                list-style: none;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
                margin-left: 10px;
                li {
                    padding: 20px $sizeM;
                    color: $color3;
                }
            }
            }
            .nav4 {
                display: grid;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;
                height: 80px;
                align-items: center;
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: row;
                    align-items: center;
                    margin-right: 20px;
                    li {
                        padding: 20px $sizeM;
                        color: $color3;
                    }
                }
                }
        }
}