.header1_li2 {
    position: relative;
    width: 100%;
    height: 0px;
    background-color: $color6;
    transition: all 150ms;
    top: auto;
    bottom: 0;
}

.header1_li1:hover .header1_li2{
    height: 7px;
    top: 0;
    bottom: auto;
}

.opacity:hover {
   opacity: 50%;
}
.white_color:hover {
    color: $color4;
    &:hover h1{
        color: $color4;
    }
    &:hover h2{
        color: $color4;
    }
    &:hover h3{
        color: $color4;
    }
    &:hover h4{
        color: $color4;
    }
    &:hover h5{
        color: $color4;
    }
}
.game_list1:hover {
    background-color: $color1;
    cursor: pointer;
    &:hover img {
        filter: brightness(125%);
    }
}
.game_image:hover {
    filter: brightness(125%);
    cursor: pointer;
}
.more:hover {
    background-color: $color1 !important;
    cursor: pointer;
}
.submit:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 3px black) brightness(115%);
}
.text3_1:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 15px black) brightness(115%);
}
.text3_2:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px black) brightness(215%);
}
.mainButton {
    border: 1px solid white;
    border-radius: 7px;
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: $color6;
    padding: 20px;
    color: $color4;
    margin-bottom: 5px;
    margin-top: 5px;
}
.mainButton:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px black) brightness(125%);
}
.secondaryButton {
    border: 1px solid white;
    border-radius: 7px;
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: $color2;
    padding: 20px;
    color: $color4;
    margin-bottom: 5px;
    margin-top: 5px;
}
.secondaryButton:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px black) brightness(115%);
    background-color: $color1;
}