@import 'base';
@import 'colors';
@import 'typography';
@import 'sizes';
@import 'spacing';
@import 'header';
@import 'footer';
@import 'hover';
@import 'animations_hero';

body {
    .header_hero {
        width: 100%;
        height: 50px;
    }
    .hero {
        padding: $sizeXL;
        width: 100%;
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr 60% 20% 1fr;
        grid-template-rows: repeat(5, 1fr);
        margin-top: -80px;
        .hero_image {
            background: url("./img/game.starwars1.jpg") no-repeat;
            background-size: 100% 1100px;
            display: grid;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 5;
            border: 5px solid $color2;
            border-radius: $sizeL;
            position: relative;
            animation-name: hero_games;
            animation-duration: 50s;
            animation-iteration-count: infinite;
        }
        .hero_text {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            color: $color4;
            .text1{
                width: 85%;
                height: 75%;
            }
            .text2{
                width: 85%;
                height: 10%;
            }
            .text3 {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                
            }
            .text3_1 {
                background-color: $color4;
                color: $color5;
                padding: 20px;
                border-radius: $sizeS;
                margin-bottom: 10px;
            }
            .text3_2 {
                margin: 0 0 10px 10px;
            }
        }
        .hero_list {
            background-color: $color2;
            display: grid;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 5;
            border: 5px solid $color2;
            border-radius: $sizeM;
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                .game_list1 {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;
                    margin-left: -30px;
                    color: $color3;
                    border-radius: $sizeM;
                    padding: 10px;
                    img {
                        border-radius: $sizeS;
                        margin-right: 10px;
                    }
                    
                }
                .game_list1_container {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: nowrap;
                    text-align: center;
                    align-items: center;
                    width: auto;
                    height: 135px;
                    padding: 10px;
                   
                    border-radius: $sizeM;
                    .game_list1_image {
                        position: absolute;
                        width: 130px;
                        height: 110px;
                        margin: 5px;
                        margin-left: 15px;
                        img {
                            border-radius: $sizeS;
                            

                        }
                    }
                    .game_list1_text {
                        position: absolute;
                        margin-left: 60px;
                        padding: 40px;  
                        width: 300px;                
                    }
                    .game_list1_background {
                        width: 350px;
                    }
                }
                }
        }
    }
    .gamepack {
        padding: $sizeXL;
        width: 100%;
        height: 1100px;
        display: grid;
        grid-template-columns: 10% 25% 25% 25% 10%;
        grid-template-rows: repeat(5, 1fr);
        .gamepack1 {
            background: url("./img/game.tombrider.jpg") no-repeat;
            background-size: 100% 400px;
            display: grid;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            border: 5px solid $color2;
            border-radius: $sizeL;
            margin-right: 10px;
        }
        .gamepack1text {
            display: grid;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            color: $color3;
            text-align: center;
            .textg1 {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 10px;
                
            }
            .textg1_1 {
                background-color: $color6;
                color: $color4;
                padding: 20px;
                border-radius: $sizeS;
                margin-bottom: 10px;
            }
            .textg1_2 {
                margin: 0 0 10px 10px;
            }
        }
        .gamepack2 {
            background: url("./img/game.assasinscreed.jpg") no-repeat;
            background-size: 100% 390px;
            display: grid;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            border: 5px solid $color2;
            border-radius: $sizeL;
            margin-left: 10px;
        }
        .gamepack2text {
            display: grid;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            color: $color3;
            text-align: center;
            .textg2 {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 10px;
                
            }
            .textg2_1 {
                background-color: $color6;
                color: $color4;
                padding: 20px;
                border-radius: $sizeS;
                margin-bottom: 10px;
            }
            .textg2_2 {
                margin: 0 0 10px 10px;
            }
        }
        .gamepack3 {
            background: url("./img/game.battlefield.jpg") no-repeat;
            background-size: 100% 400px;
            display: grid;
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
            border: 5px solid $color2;
            border-radius: $sizeL;
            margin-left: 10px;
        }
        .gamepack3text {
            display: grid;
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 4;
            color: $color3;
            text-align: center;
            .textg3 {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 10px;
                
            }
            .textg3_1 {
                background-color: $color6;
                color: $color4;
                padding: 20px;
                border-radius: $sizeS;
                margin-bottom: 10px;
            }
            .textg3_2 {
                margin: 0 0 10px 10px;
            }
        }
    }
    .new_top_soon {
        padding: $sizeXL;
        width: 100%;
        height: 1000px;
        display: grid;
        grid-template-columns: 10% 1fr 1fr 1fr 10%;
        grid-template-rows: repeat(1, 1fr);
        ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: flex-start;
            .header_newtopsoon {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $color4;
                padding: $sizeS;
                .more {
                    background-color: $color2;
                    color: $color4;
                    border-radius: $sizeS;
                    border: 1px solid $color4;
                    padding: 10px;
                    margin-right: 30px;
                }
            }
            li {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
                color: $color3;
                padding: $sizeS;
                margin-left: -15px;
                height: 100%;
                width: 100%;
                border-radius: $sizeM;

                .img_game {
                    width: 25%;
                    margin-right: $sizeS;
                    img {
                        width: 110px;
                        height: 160px;
                        border-radius: $sizeS;
                    }
                }
                .text_game {
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: column;
                    width: 75%;
                    height: 100%;
                    color: $color3;
                }
            }
        }
        .new {
            display: grid;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            border-right: 1px solid $color3;
        }
        .top {
            display: grid;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            border-right: 1px solid $color3;
        }
        .soon {
            display: grid;
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        }
        .banner {
        padding: $sizeXL;
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-columns: 10% 50% 30% 10%;
        grid-template-rows: repeat(1, 1fr);
        .banner_img {
            display: grid;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            background: url("./img/game.banner.png") no-repeat;
            background-size: 100%;
            border-radius: $sizeL;
        }
        .banner_text {
            display: grid;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 50px;
            color: $color3;
            .learn {
                background-color: $color4;
                    color: $color5;
                    border-radius: $sizeS;
                    border: 1px solid $color4;
                    padding: 15px;
                    margin: 20px;
            }
        }
        }
    
    }
    @media only screen and (max-width: 650px) {
        body {
            .hero {
             .hero_image {
                visibility: hidden;
             }
             .hero_image2 {
                visibility: hidden;
             }
             .hero_image3 {
                visibility: hidden;
             }
             .hero_image4 {
                visibility: hidden;
             }
             .hero_image5 {
                visibility: hidden;
             }
             .hero_list {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 5;
             }
            }
            .gamepack1  {grid-column-start: 2;
                grid-column-end: 5 !important; }
            .gamepack1text {grid-column-start: 2;
                grid-column-end: 5 !important; }
            .gamepack2  { visibility: hidden; }
            .gamepack2text { visibility: hidden ;}
            .gamepack3  { visibility: hidden; }
            .gamepack3text { visibility: hidden ;}
            .new {
                grid-column-start: 1 !important;
            grid-column-end: 5 !important;
            grid-row-start: 1;
            grid-row-end: 2;;
            }
            .top {
                visibility: hidden;
            }
            .soon {
                visibility: hidden;
            }
            .banner_img {
                grid-column-start: 1 !important;
            grid-column-end: 5 !important;
            grid-row-start: 3;
            grid-row-end: 5;
            }
            .banner_text {
                grid-column-start: 1 !important;
                grid-column-end: 5 !important;
                grid-row-start: 2 !important;
                grid-row-end: 5;
            }
  
       } }
    @media only screen and (min-width: 650px) and (max-width: 992px)  {
        body {
            .hero {
             .hero_image {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 5;
                background-size: 100% 900px;
                height: 600px;
               .hero_text {
                width: 100%;
               }   }
               .hero_image2 {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 5;
                background-size: 100% 600px;
                height: 600px;
               .hero_text2 {
                width: 100%;
               }   }
               .hero_image3 {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 5;
                background-size: 100% 600px;
                height: 600px;
               .hero_text3 {
                width: 100%;
                .text1 {
                    margin-bottom: 20%;
                }
                .text2 {
                    margin-bottom: -12%;
                }
                .text3 {
                    margin-bottom: -8%;
                }
               }   }
               .hero_image4 {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 5;
                background-size: 100% 600px;
                height: 600px;
               .hero_text4 {
                width: 100%;
               }   }
               .hero_image5 {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 5;
                background-size: 100% 600px;
                height: 600px;
               .hero_text5 {
                width: 100%;
               }   }
             }
             
             .hero_list {
              visibility: hidden;
             }
             .gamepack1  {grid-column-start: 1 !important;
                grid-column-end: 3 !important; }
            .gamepack1text {visibility: hidden;}
            .gamepack2  { grid-column-start: 3 !important;
                grid-column-end: 6 !important;
                 }
            .gamepack2text { visibility: hidden;}
            .gamepack3  { grid-column-start: 1 !important;
                grid-column-end: 6 !important;
                grid-row-start: 3 !important;
                grid-row-end: 4;}
            .gamepack3text { visibility: hidden;}
            .new {
                grid-column-start: 1 !important;
            grid-column-end: 5 !important;
            }
            .top {
                visibility: hidden;
            }
            .soon {
                visibility: hidden;
            }
            .banner_img {
                grid-column-start: 1 !important;
            grid-column-end: 5 !important;
            grid-row-start: 3;
            grid-row-end: 5;
            }
            .banner_text {
                grid-column-start: 1 !important;
                grid-column-end: 5 !important;
                grid-row-start: 2 !important;
                grid-row-end: 5;
            }
            }
       }

       