@import url("http://fonts.cdnfonts.com/css/brutal");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0 20px;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 47px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 13px;
}

p, li, a, button {
  font-size: 10px;
}

body {
  background-color: #121212;
}

body .header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2A2A2A;
  width: 100%;
  letter-spacing: 1px;
}

body .header1 .nav1 {
  margin-left: -40px;
}

body .header1 .nav1 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header1 .nav1 ul li {
  margin: 15px 20px;
  color: white;
}

body .header1 .nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header1 .nav2 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header1 .nav2 ul li {
  margin: 15px 20px;
  color: white;
}

body .header2 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  background-color: #121212;
  letter-spacing: 1px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}

body .header2 .nav3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header2 .nav3 .search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .header2 .nav3 .search_bar input {
  width: 90%;
  padding: 10px;
  height: 25px;
  background: transparent;
  background-color: #2A2A2A;
  border-radius: 2px;
  border: none;
  outline: none;
}

body .header2 .nav3 .search_bar button {
  padding: 7px;
  padding-left: -100px;
  color: gray;
  background: transparent;
  background-color: #2A2A2A;
  border: none;
  outline: none;
  border-radius: 2px;
  border-right: 1px solid gray;
}

body .header2 .nav3 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

body .header2 .nav3 ul li {
  padding: 20px 20px;
  color: gray;
}

body .header2 .nav4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header2 .nav4 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

body .header2 .nav4 ul li {
  padding: 20px 20px;
  color: gray;
}

body footer .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  background-color: #2A2A2A;
  height: 200px;
  color: gray;
  border-bottom: 170px solid #2A2A2A;
  margin-top: 30px;
}

body footer .footer h4 {
  font-size: 16px;
  color: white;
}

body footer .footer a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

body footer .footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .footer .about {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  padding: 50px;
}

body footer .footer .news {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  padding: 50px;
}

body footer .footer .Resources {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  padding: 50px;
}

body footer .footer .social {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  padding: 24px;
}

.header1_li2 {
  position: relative;
  width: 100%;
  height: 0px;
  background-color: #0074E4;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  top: auto;
  bottom: 0;
}

.header1_li1:hover .header1_li2 {
  height: 7px;
  top: 0;
  bottom: auto;
}

#error_message {
  color: crimson;
  font-weight: bold;
  font-size: 15px;
}

.wrong {
  border: 2px solid crimson;
  border-radius: 9px;
}

.opacity:hover {
  opacity: 50%;
}

.white_color:hover {
  color: white;
}

.white_color:hover:hover h1 {
  color: white;
}

.white_color:hover:hover h2 {
  color: white;
}

.white_color:hover:hover h3 {
  color: white;
}

.white_color:hover:hover h4 {
  color: white;
}

.white_color:hover:hover h5 {
  color: white;
}

.game_list1:hover {
  background-color: #2A2A2A;
  cursor: pointer;
}

.game_list1:hover:hover img {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.game_image:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
  cursor: pointer;
}

.more:hover {
  background-color: #2A2A2A !important;
  cursor: pointer;
}

.submit:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 3px black) brightness(115%);
          filter: drop-shadow(0 0 3px black) brightness(115%);
}

.text3_1:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 15px black) brightness(115%);
          filter: drop-shadow(0 0 15px black) brightness(115%);
}

.text3_2:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px black) brightness(215%);
          filter: drop-shadow(0 0 5px black) brightness(215%);
}

.mainButton {
  border: 1px solid white;
  border-radius: 7px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0074E4;
  padding: 20px;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.mainButton:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px black) brightness(125%);
          filter: drop-shadow(0 0 5px black) brightness(125%);
}

.secondaryButton {
  border: 1px solid white;
  border-radius: 7px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #121212;
  padding: 20px;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.secondaryButton:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px black) brightness(115%);
          filter: drop-shadow(0 0 5px black) brightness(115%);
  background-color: #2A2A2A;
}

.removeButton {
  border: 1px solid white;
  border-radius: 7px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  padding: 20px;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.removeButton:hover {
  cursor: pointer;
  background-color: #2A2A2A;
  -webkit-filter: drop-shadow(0 0 5px black) brightness(125%);
          filter: drop-shadow(0 0 5px black) brightness(125%);
}

.gray_background1 {
  width: 100%;
  background-color: #2A2A2A;
  -webkit-animation-name: gray_background1;
          animation-name: gray_background1;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.gray_background2 {
  background-color: #2A2A2A;
  -webkit-animation-name: gray_background2;
          animation-name: gray_background2;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.gray_background3 {
  background-color: #2A2A2A;
  -webkit-animation-name: gray_background3;
          animation-name: gray_background3;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.gray_background4 {
  background-color: #2A2A2A;
  -webkit-animation-name: gray_background4;
          animation-name: gray_background4;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.gray_background5 {
  background-color: #2A2A2A;
  -webkit-animation-name: gray_background5;
          animation-name: gray_background5;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes gray_background1 {
  0% {
    width: 0%;
    padding: 0;
  }
  20% {
    width: 100%;
    padding: 0;
  }
  21% {
    width: 0%;
    padding: 0;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}

@keyframes gray_background1 {
  0% {
    width: 0%;
    padding: 0;
  }
  20% {
    width: 100%;
    padding: 0;
  }
  21% {
    width: 0%;
    padding: 0;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}

@-webkit-keyframes gray_background2 {
  0% {
    width: 0%;
    padding: 0;
  }
  20% {
    width: 0%;
    padding: 0;
  }
  40% {
    width: 100%;
    padding: 0;
  }
  41% {
    width: 0%;
    padding: 0;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}

@keyframes gray_background2 {
  0% {
    width: 0%;
    padding: 0;
  }
  20% {
    width: 0%;
    padding: 0;
  }
  40% {
    width: 100%;
    padding: 0;
  }
  41% {
    width: 0%;
    padding: 0;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}

@-webkit-keyframes gray_background3 {
  0% {
    width: 0%;
    padding: 0;
  }
  40% {
    width: 0%;
    padding: 0;
  }
  60% {
    width: 100%;
    padding: 0;
  }
  61% {
    width: 0%;
    padding: 0;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}

@keyframes gray_background3 {
  0% {
    width: 0%;
    padding: 0;
  }
  40% {
    width: 0%;
    padding: 0;
  }
  60% {
    width: 100%;
    padding: 0;
  }
  61% {
    width: 0%;
    padding: 0;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}

@-webkit-keyframes gray_background4 {
  0% {
    width: 0%;
    padding: 0;
  }
  60% {
    width: 0%;
    padding: 0;
  }
  80% {
    width: 100%;
    padding: 0;
  }
  81% {
    width: 0%;
    padding: 0;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}

@keyframes gray_background4 {
  0% {
    width: 0%;
    padding: 0;
  }
  60% {
    width: 0%;
    padding: 0;
  }
  80% {
    width: 100%;
    padding: 0;
  }
  81% {
    width: 0%;
    padding: 0;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}

@-webkit-keyframes gray_background5 {
  0% {
    width: 0%;
    padding: 0;
  }
  80% {
    width: 0%;
    padding: 0;
  }
  99% {
    width: 100%;
    padding: 0;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}

@keyframes gray_background5 {
  0% {
    width: 0%;
    padding: 0;
  }
  80% {
    width: 0%;
    padding: 0;
  }
  99% {
    width: 100%;
    padding: 0;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}

.hero_image2 {
  background: url("./img/game.tina3.jpg") no-repeat;
  background-size: 100% 730px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  border: 5px solid #121212;
  border-radius: 30px;
  position: relative;
  -webkit-animation-name: hero_games2;
          animation-name: hero_games2;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.hero_text2 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.hero_text2 .text1 {
  width: 75%;
  height: 65%;
  text-align: center;
}

.hero_text2 .text2 {
  width: 85%;
  height: 15%;
}

.hero_text2 .text3 {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_text2 .text3_1 {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hero_text2 .text3_2 {
  margin: 0 0 10px 10px;
}

.hero_image3 {
  background: url("./img/game.subnautica1.jpg") no-repeat;
  background-size: 100% 715px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  border: 5px solid #121212;
  border-radius: 30px;
  position: relative;
  -webkit-animation-name: hero_games3;
          animation-name: hero_games3;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.hero_text3 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.hero_text3 .text1 {
  width: 75%;
  height: 40%;
  text-align: center;
}

.hero_text3 .text2 {
  width: 85%;
  height: 20%;
}

.hero_text3 .text3 {
  width: 60%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_text3 .text3_1 {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hero_text3 .text3_2 {
  margin: 0 0 10px 10px;
}

.hero_image4 {
  background: url("./img/game.naraka3.jpg") no-repeat;
  background-size: 100% 715px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  border: 5px solid #121212;
  border-radius: 30px;
  position: relative;
  -webkit-animation-name: hero_games4;
          animation-name: hero_games4;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.hero_text4 {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.hero_text4 .text1 {
  width: 75%;
  height: 65%;
  text-align: center;
}

.hero_text4 .text2 {
  width: 85%;
  height: 18%;
}

.hero_text4 .text3 {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_text4 .text3_1 {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hero_text4 .text3_2 {
  margin: 0 0 10px 10px;
}

.hero_image5 {
  background: url("./img/game.vampire3.jpg") no-repeat;
  background-size: 100% 715px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  border: 5px solid #121212;
  border-radius: 30px;
  position: relative;
  -webkit-animation-name: hero_games5;
          animation-name: hero_games5;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.hero_text5 {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.hero_text5 .text1 {
  width: 75%;
  height: 60%;
  text-align: center;
}

.hero_text5 .text2 {
  width: 85%;
  height: 20%;
}

.hero_text5 .text3 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_text5 .text3_1 {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hero_text5 .text3_2 {
  margin: 0 0 10px 10px;
}

@-webkit-keyframes hero_games {
  0% {
    z-index: 8;
  }
  20% {
    z-index: 8;
  }
  21% {
    z-index: 7;
  }
  100% {
    z-index: 4;
  }
}

@keyframes hero_games {
  0% {
    z-index: 8;
  }
  20% {
    z-index: 8;
  }
  21% {
    z-index: 7;
  }
  100% {
    z-index: 4;
  }
}

@-webkit-keyframes hero_games2 {
  0% {
  }
  21% {
    z-index: 7;
  }
  40% {
    z-index: 7;
  }
  41% {
    z-index: 6;
  }
  100% {
  }
}

@keyframes hero_games2 {
  0% {
  }
  21% {
    z-index: 7;
  }
  40% {
    z-index: 7;
  }
  41% {
    z-index: 6;
  }
  100% {
  }
}

@-webkit-keyframes hero_games3 {
  0% {
  }
  41% {
    z-index: 6;
  }
  60% {
    z-index: 6;
  }
  61% {
    z-index: 5;
  }
  100% {
  }
}

@keyframes hero_games3 {
  0% {
  }
  41% {
    z-index: 6;
  }
  60% {
    z-index: 6;
  }
  61% {
    z-index: 5;
  }
  100% {
  }
}

@-webkit-keyframes hero_games4 {
  0% {
  }
  61% {
    z-index: 5;
  }
  80% {
    z-index: 5;
  }
  81% {
    z-index: 4;
  }
  100% {
  }
}

@keyframes hero_games4 {
  0% {
  }
  61% {
    z-index: 5;
  }
  80% {
    z-index: 5;
  }
  81% {
    z-index: 4;
  }
  100% {
  }
}

@-webkit-keyframes hero_games5 {
  0% {
  }
  81% {
    z-index: 4;
  }
  99% {
    z-index: 4;
  }
  100% {
    z-index: 3;
  }
}

@keyframes hero_games5 {
  0% {
  }
  81% {
    z-index: 4;
  }
  99% {
    z-index: 4;
  }
  100% {
    z-index: 3;
  }
}

body .header_hero {
  width: 100%;
  height: 50px;
}

body .hero {
  padding: 50px;
  width: 100%;
  height: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60% 20% 1fr;
      grid-template-columns: 1fr 60% 20% 1fr;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  margin-top: -80px;
}

body .hero .hero_image {
  background: url("./img/game.starwars1.jpg") no-repeat;
  background-size: 100% 1100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  border: 5px solid #121212;
  border-radius: 30px;
  position: relative;
  -webkit-animation-name: hero_games;
          animation-name: hero_games;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .hero .hero_text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

body .hero .hero_text .text1 {
  width: 85%;
  height: 75%;
}

body .hero .hero_text .text2 {
  width: 85%;
  height: 10%;
}

body .hero .hero_text .text3 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .hero .hero_text .text3_1 {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

body .hero .hero_text .text3_2 {
  margin: 0 0 10px 10px;
}

body .hero .hero_list {
  background-color: #121212;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  border: 5px solid #121212;
  border-radius: 20px;
}

body .hero .hero_list ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .hero .hero_list ul .game_list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: -30px;
  color: gray;
  border-radius: 20px;
  padding: 10px;
}

body .hero .hero_list ul .game_list1 img {
  border-radius: 10px;
  margin-right: 10px;
}

body .hero .hero_list ul .game_list1_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 135px;
  padding: 10px;
  border-radius: 20px;
}

body .hero .hero_list ul .game_list1_container .game_list1_image {
  position: absolute;
  width: 130px;
  height: 110px;
  margin: 5px;
  margin-left: 15px;
}

body .hero .hero_list ul .game_list1_container .game_list1_image img {
  border-radius: 10px;
}

body .hero .hero_list ul .game_list1_container .game_list1_text {
  position: absolute;
  margin-left: 60px;
  padding: 40px;
  width: 300px;
}

body .hero .hero_list ul .game_list1_container .game_list1_background {
  width: 350px;
}

body .carrousel1 {
  padding: 50px;
  width: 100%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
}

body .carrousel1 #container_carrousel_1, body .carrousel1 #container_carrousel_2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  display: -ms-grid;
  display: grid;
  height: 400px;
}

body .carrousel1 #container_carrousel_1 h3, body .carrousel1 #container_carrousel_2 h3 {
  color: gray;
  padding: 6px;
}

body .carrousel1 .game_carrousel_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .carrousel1 .game_carrousel_1 article {
  width: auto;
  height: 400px;
  padding: 7px;
  position: relative;
}

body .carrousel1 .game_carrousel_1 img {
  width: auto;
  height: 300px;
}

body .carrousel1 .game_carrousel_1 div {
  width: auto;
  height: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

body .carrousel1 .game_carrousel_1 .cartBtn {
  border: 1px solid white;
  border-radius: 7px;
  position: absolute;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  visibility: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .carrousel1 .game_carrousel_1 .cartBtn:hover {
  background-color: #121212;
}

body .carrousel1 .game_carrousel_1 .detailsBtn {
  border: 1px solid white;
  border-radius: 7px;
  position: absolute;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  visibility: hidden;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .carrousel1 .game_carrousel_1 .detailsBtn:hover {
  background-color: #121212;
}

body .carrousel1 .game_details:hover img {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

body .carrousel1 .game_details:hover .cartBtn {
  visibility: visible;
  cursor: pointer;
}

body .carrousel1 .game_details:hover .detailsBtn {
  visibility: visible;
  cursor: pointer;
}

body .carrousel1 #button_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .carrousel1 #button_section select {
  width: 53%;
  border: none;
  background: #121212;
  color: white;
}

body .carrousel1 #button_section .sort_button {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .carrousel1 #button_section .game_button {
  width: auto;
  padding: 7px;
  margin: 5px;
  background-color: #0074E4;
  color: white;
  border-radius: 10px;
}

body .gamepack {
  padding: 50px;
  width: 100%;
  height: 1100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 25% 25% 25% 10%;
      grid-template-columns: 10% 25% 25% 25% 10%;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

body .gamepack .gamepack1 {
  background: url("./img/game.tombrider.jpg") no-repeat;
  background-size: 100% 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border: 5px solid #121212;
  border-radius: 30px;
  margin-right: 10px;
}

body .gamepack .gamepack1text {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  color: gray;
  text-align: center;
}

body .gamepack .gamepack1text .textg1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

body .gamepack .gamepack1text .textg1_1 {
  background-color: #0074E4;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

body .gamepack .gamepack1text .textg1_2 {
  margin: 0 0 10px 10px;
}

body .gamepack .gamepack2 {
  background: url("./img/game.assasinscreed.jpg") no-repeat;
  background-size: 100% 390px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border: 5px solid #121212;
  border-radius: 30px;
  margin-left: 10px;
}

body .gamepack .gamepack2text {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  color: gray;
  text-align: center;
}

body .gamepack .gamepack2text .textg2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

body .gamepack .gamepack2text .textg2_1 {
  background-color: #0074E4;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

body .gamepack .gamepack2text .textg2_2 {
  margin: 0 0 10px 10px;
}

body .gamepack .gamepack3 {
  background: url("./img/game.battlefield.jpg") no-repeat;
  background-size: 100% 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border: 5px solid #121212;
  border-radius: 30px;
  margin-left: 10px;
}

body .gamepack .gamepack3text {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  color: gray;
  text-align: center;
}

body .gamepack .gamepack3text .textg3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

body .gamepack .gamepack3text .textg3_1 {
  background-color: #0074E4;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

body .gamepack .gamepack3text .textg3_2 {
  margin: 0 0 10px 10px;
}

body .new_top_soon {
  padding: 50px;
  width: 100%;
  height: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 1fr 10%;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
}

body .new_top_soon ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .new_top_soon ul .header_newtopsoon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 10px;
}

body .new_top_soon ul .header_newtopsoon .more {
  background-color: #121212;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
  margin-right: 30px;
}

body .new_top_soon ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  padding: 10px;
  margin-left: -15px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

body .new_top_soon ul li .img_game {
  width: 25%;
  margin-right: 10px;
}

body .new_top_soon ul li .img_game img {
  width: 110px;
  height: 160px;
  border-radius: 10px;
}

body .new_top_soon ul li .text_game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  height: 100%;
  color: gray;
}

body .new_top_soon .new {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  border-right: 1px solid gray;
}

body .new_top_soon .top {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  border-right: 1px solid gray;
}

body .new_top_soon .soon {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

body .banner {
  padding: 50px;
  width: 100%;
  height: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 50% 30% 10%;
      grid-template-columns: 10% 50% 30% 10%;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
}

body .banner .banner_img {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background: url("./img/game.banner.png") no-repeat;
  background-size: 100%;
  border-radius: 30px;
}

body .banner .banner_text {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  color: gray;
}

body .banner .banner_text .learn {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 1px solid white;
  padding: 15px;
  margin: 20px;
}

@media only screen and (max-width: 650px) {
  body .hero .hero_image {
    visibility: hidden;
  }
  body .hero .hero_image2 {
    visibility: hidden;
  }
  body .hero .hero_image3 {
    visibility: hidden;
  }
  body .hero .hero_image4 {
    visibility: hidden;
  }
  body .hero .hero_image5 {
    visibility: hidden;
  }
  body .hero .hero_list {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
  }
  body .gamepack1 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 5 !important;
  }
  body .gamepack1text {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 5 !important;
  }
  body .gamepack2 {
    visibility: hidden;
  }
  body .gamepack2text {
    visibility: hidden;
  }
  body .gamepack3 {
    visibility: hidden;
  }
  body .gamepack3text {
    visibility: hidden;
  }
  body .new {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  body .top {
    visibility: hidden;
  }
  body .soon {
    visibility: hidden;
  }
  body .banner_img {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
  }
  body .banner_text {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
    grid-row-end: 5;
  }
}

@media only screen and (min-width: 650px) and (max-width: 992px) {
  body .hero .hero_image {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
    background-size: 100% 900px;
    height: 600px;
  }
  body .hero .hero_image .hero_text {
    width: 100%;
  }
  body .hero .hero_image2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
    background-size: 100% 600px;
    height: 600px;
  }
  body .hero .hero_image2 .hero_text2 {
    width: 100%;
  }
  body .hero .hero_image3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
    background-size: 100% 600px;
    height: 600px;
  }
  body .hero .hero_image3 .hero_text3 {
    width: 100%;
  }
  body .hero .hero_image3 .hero_text3 .text1 {
    margin-bottom: 20%;
  }
  body .hero .hero_image3 .hero_text3 .text2 {
    margin-bottom: -12%;
  }
  body .hero .hero_image3 .hero_text3 .text3 {
    margin-bottom: -8%;
  }
  body .hero .hero_image4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
    background-size: 100% 600px;
    height: 600px;
  }
  body .hero .hero_image4 .hero_text4 {
    width: 100%;
  }
  body .hero .hero_image5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
    background-size: 100% 600px;
    height: 600px;
  }
  body .hero .hero_image5 .hero_text5 {
    width: 100%;
  }
  body .hero_list {
    visibility: hidden;
  }
  body .gamepack1 {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 3 !important;
  }
  body .gamepack1text {
    visibility: hidden;
  }
  body .gamepack2 {
    -ms-grid-column: 3 !important;
        grid-column-start: 3 !important;
    grid-column-end: 6 !important;
  }
  body .gamepack2text {
    visibility: hidden;
  }
  body .gamepack3 {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 6 !important;
    -ms-grid-row: 3 !important;
        grid-row-start: 3 !important;
    grid-row-end: 4;
  }
  body .gamepack3text {
    visibility: hidden;
  }
  body .new {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 5 !important;
  }
  body .top {
    visibility: hidden;
  }
  body .soon {
    visibility: hidden;
  }
  body .banner_img {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
  }
  body .banner_text {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
    grid-row-end: 5;
  }
}
/*# sourceMappingURL=home.css.map */