@import 'base';
@import 'colors';
@import 'typography';
@import 'sizes';
@import 'spacing';
@import 'header';
@import 'footer';
@import 'hover';

body {
    .product_container {
        padding: $sizeXL;
        width: 100%;
        display: grid;
        grid-template-columns: 10% 10% 5% 60% 10%;
        grid-template-rows: repeat(5, 1fr);
        #filter_section {
            display: grid;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 5;
            height: 400px;
            #filter_section_header {
                color: $color3;
                margin: 20px;
            }
            #filter_search {
               padding: 20px;
               height: 40px ;
               width: 90%;
               background: transparent;
               background-color: $color1;
               border-radius: 5px;
               border: none;
               outline: none;
            }
            .collapsible {
                background-color: $color2;
                color: $color3;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
              }
              .active, .collapsible:hover {
                color: $color4;
              }
              .content {
                color: $color3;
                padding: 0 20px;
                display: none;
                overflow: hidden;
                background-color: $color2;
                ul {
                    list-style: none;
                    margin-left: -20%;
                    .filter_element {
                        padding: 20px;
                        cursor: pointer;
                    }
                }
              }
        }
        #product_section {
            display: grid;
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 5;
            .recent_games {
                color: white;
                padding: 7px;
            }
            #game_section, #game_section2{
                display: flex;
                flex-wrap: wrap;
                article {
                    width: auto;
                    height: 400px;
                    padding: 7px;
                    position: relative;
                }
                img{
                    width: auto;
                    height: 300px;
                    
                }
                div{
                    width: auto;
                    height: 50px;
                    color: $color4;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 2px;      
            }
            .cartBtn {
                border: 1px solid white;
                border-radius: 7px;
                position: absolute;
                width: 175px;
                display: flex;
                justify-content: center;
                z-index: 5;
                visibility: hidden;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &:hover {
                    background-color: $color2;
                }
            }
            .detailsBtn {
                border: 1px solid white;
                border-radius: 7px;
                position: absolute;
                width: 175px;
                display: flex;
                justify-content: center;
                z-index: 5;
                visibility: hidden;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                &:hover {
                    background-color: $color2;
                }

            }
            .game_details:hover {
               img {
                filter: blur(6px) brightness(50%);
               }
               .cartBtn {
                  visibility: visible;
                  cursor: pointer;
               }
               .detailsBtn {
                visibility: visible;
                cursor: pointer;
             }
    
            }
        }
        #button_section {
            display: flex;
            justify-content: space-between;
            select {
                width: 53%;
                border: none;
                background: $color2;
                color: $color4;
            }
            .sort_button {
                color: $color4;
                display: flex;
                align-items: center;
            }
            .game_button {
                width: auto;
                padding: 7px;
                margin: 5px;
                background-color: $color6;
                color: $color4;
                border-radius: 10px;
            }
        }
        }
    }
}