@import url("http://fonts.cdnfonts.com/css/brutal");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0 20px;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 47px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 13px;
}

p, li, a, button {
  font-size: 10px;
}

.header1_li2 {
  position: relative;
  width: 100%;
  height: 0px;
  background-color: #0074E4;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  top: auto;
  bottom: 0;
}

.header1_li1:hover .header1_li2 {
  height: 7px;
  top: 0;
  bottom: auto;
}

#error_message {
  color: crimson;
  font-weight: bold;
  font-size: 15px;
}

.wrong {
  border: 2px solid crimson;
  border-radius: 9px;
}

.opacity:hover {
  opacity: 50%;
}

.white_color:hover {
  color: white;
}

.white_color:hover:hover h1 {
  color: white;
}

.white_color:hover:hover h2 {
  color: white;
}

.white_color:hover:hover h3 {
  color: white;
}

.white_color:hover:hover h4 {
  color: white;
}

.white_color:hover:hover h5 {
  color: white;
}

.game_list1:hover {
  background-color: #2A2A2A;
  cursor: pointer;
}

.game_list1:hover:hover img {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.game_image:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
  cursor: pointer;
}

.more:hover {
  background-color: #2A2A2A !important;
  cursor: pointer;
}

.submit:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 3px black) brightness(115%);
          filter: drop-shadow(0 0 3px black) brightness(115%);
}

.text3_1:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 15px black) brightness(115%);
          filter: drop-shadow(0 0 15px black) brightness(115%);
}

.text3_2:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px black) brightness(215%);
          filter: drop-shadow(0 0 5px black) brightness(215%);
}

.mainButton {
  border: 1px solid white;
  border-radius: 7px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0074E4;
  padding: 20px;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.mainButton:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px black) brightness(125%);
          filter: drop-shadow(0 0 5px black) brightness(125%);
}

.secondaryButton {
  border: 1px solid white;
  border-radius: 7px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #121212;
  padding: 20px;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.secondaryButton:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px black) brightness(115%);
          filter: drop-shadow(0 0 5px black) brightness(115%);
  background-color: #2A2A2A;
}

.removeButton {
  border: 1px solid white;
  border-radius: 7px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  padding: 20px;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.removeButton:hover {
  cursor: pointer;
  background-color: #2A2A2A;
  -webkit-filter: drop-shadow(0 0 5px black) brightness(125%);
          filter: drop-shadow(0 0 5px black) brightness(125%);
}

#nextBtn:hover, #prevBtn:hover {
  cursor: pointer;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("./img/home2.jpg");
}

body .box {
  width: 50%;
  height: 65%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#95dad4), to(#6ab099));
  background-image: linear-gradient(#95dad4, #6ab099);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .box .banner {
  size: 40%;
  background: url("./img/sign-in23.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
  width: 40%;
}

body .box .banner .banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: aliceblue;
  -webkit-filter: drop-shadow(0 0 10px black);
          filter: drop-shadow(0 0 10px black);
  margin-top: 15%;
}

body .box .form {
  size: 60%;
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .box .form h1 {
  margin-top: 20%;
  margin-bottom: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  background-image: url("./img/sign-in22.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

body .box .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .box .form form div {
  padding: 8px;
  font-size: 14px;
}

body .box .form form div input {
  border: none;
  border-bottom: 2px solid #121212;
  background-color: transparent;
  outline: none;
}

body .box .form form div label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  background-image: url("./img/sign-in22.jpg");
  background-size: 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

body .box .form form #submit {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#da5656), to(#df7341));
  background-image: linear-gradient(#da5656, #df7341);
  border: transparent;
  border-radius: 5px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

body .box .form form .signup {
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0px;
  background-image: url("./img/sign-in22.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: 1px solid #121212;
}

body .box .form .social {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .box .form a {
  font-size: 13px;
  padding-top: 5px;
}

@media only screen and (max-width: 650px) {
  body .box {
    width: 80%;
  }
  body .box .form {
    width: 100%;
  }
  body .box .form h1 {
    font-size: 30px;
  }
  body .box .banner {
    width: 0%;
  }
}

@media only screen and (min-width: 650px) and (max-width: 992px) {
  body .box {
    width: 80%;
  }
  body .box .banner {
    width: 40%;
  }
}
/*# sourceMappingURL=sign_up.css.map */