@import 'base';
@import 'colors';
@import 'typography';
@import 'sizes';
@import 'spacing';
@import 'hover';

body {
    display: flex;
    justify-content: center;
    background: url("./img/home2.jpg");

    .box {
        width: 50%;
        height: 65%;
        background-image: linear-gradient( #95dad4, #6ab099, );
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
    
       .banner {
        size: 40%;
        background: url("./img/sign-in23.jpg") center no-repeat;
        background-size: cover;
        height: 100%;
        width: 40%;

        .banner-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 30px;
            color: aliceblue;
            filter: drop-shadow(0 0 10px black);
            margin-top: 15%;}
            
        
      }
      .form {
        size: 60%;
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            margin-top: 20%;
            margin-bottom: 20%;
            font-family: Verdana, Geneva, Tahoma, sans-serif ;
            letter-spacing: 3px;
            background-image: url("./img/sign-in22.jpg");
            background-size: cover  ;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    form {
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
        padding: 8px;
        font-size: 12px;
        input {
            border: none ;
            border-bottom: 2px solid $color2;
            background-color: transparent;
        }
        label {
            font-family: Verdana, Geneva, Tahoma, sans-serif ;
            letter-spacing: 1px;
            background-image: url("./img/sign-in22.jpg");
            background-size: 1000%  ;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    #submit {
        background-image: linear-gradient( #da5656, #df7341);
        border: transparent;
        border-radius: 5px;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        font-size: 18px;   
    }
    .signup {
        margin-top: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        letter-spacing: 0px;
        background-image: url("./img/sign-in22.jpg");
        background-size: cover  ;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        border-bottom: 1px solid $color2;
    }
    }
    .social {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

    }
}
      